@charset "UTF-8"; 

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
	form, fieldset, legend, input, textarea, button, p, blockquote, th, td
	{
	margin: 0;
	padding: 0
}

body {
	font-family: Arial, "PingFang SC", "Microsoft YaHei", SimSun, sans-serif;
	font-size: 12px
}

ul, ol, dl, dt, dd, li {
	list-style: none
}

a {
	text-decoration: none
}

input[type=text], input[type=submit] {
	outline: 0
}

.container {
	width: 982px;
	margin: 0 auto;
	z-index: 1;
	position: relative
}

body.bg_grey {
	background-color: #f9f9f9
}

.font_dark {
	color: #111
}

.font_mid_grey {
	color: #6e6e7e
}

.font_light_grey {
	color: #c3c3c7
}

.box_sizing {
	box-sizing: border-box
}

.clearfix:before, .clearfix:after {
	display: table;
	content: ""
}

.clearfix:after {
	clear: both
}

.float_left {
	float: left
}

.float_right {
	float: right
}

#j_top_bar.fixed {
	width: 100%;
	position: fixed;
	z-index: 99999
}

#nav_head {
	background: #fff;
	height: 78px;
	width: 100%;
	margin-bottom: 0;
	z-index: 15;
	position: relative;
	border-bottom: 1px solid #e2e2e4;
	min-width: 1039px
}

.nav_head_con {
	height: 100%;
	margin: 0 auto;
	position: relative
}

#logo {
	display: inline-block;
	height: 78px;
	width: 134px;
	margin: 0;
	vertical-align: middle
}

.nav_head_logo {
	width: 134px;
	height: 78px;
	display: inline-block;
	box-sizing: border-box
}

.ws_type_menu_hd {
	display: inline-block;
	position: relative
}

.ws_type_menu_btn {
	display: inline-block;
	height: 20px;
	vertical-align: middle;
	cursor: pointer;
	margin-top: 6px;
	border: 1px solid #918a95;
	border-radius: 5px;
	padding: 1px 6px;
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease
}

.ws_type_menu_btn:hover {
	background-color: #fec231;
	border: 1px solid #fec231
}

.ws_type_menu_btn strong {
	font-weight: 400;
	font-size: 14px
}

.ws_type_down_trai {
	display: inline-block;
	border-top: 4px solid #000;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 2px solid transparent;
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease
}

.ws_type_down_trai.up {
	border-top: 2px solid transparent;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #000;
	margin-bottom: 4px
}

.ws_type_menu_ul_hd {
	position: absolute;
	top: 49px;
	left: -24px
}

.ws_type_menu_ul {
	background-color: #fff;
	border: 1px solid #e7e7e7
}

.ws_type_menu_li {
	line-height: 15px;
	padding: 10px 5px 10px 22px;
	display: block;
	min-width: 57px;
	text-align: left;
	font-size: 14px;
	cursor: pointer;
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease
}

.ws_type_menu_li.curr {
	color: #fec231
}

.ws_type_menu_li:hover {
	color: #fec231
}

.super_nav {
	background-color: #f5f4f4
}

.super_nav_ul li {
	display: inline-block
}

.super_nav_ul_a {
	display: inline-block;
	cursor: pointer;
	color: #817789;
	padding: 2px 10px
}

.super_nav_ul_a.curr {
	background-color: #e2e1e1
}

.super_nav_ul_a:hover {
	background-color: #e2e1e1
}

.openday {
	position: absolute;
	top: 5px;
	left: 169px;
	width: 354px;
	height: 66px;
	display: inline-block
}

.openday img {
	width: 354px;
	height: 66px
}

.nav_head_course {
	font-size: 14px;
	box-sizing: border-box;
	margin: 0 auto;
	height: 100%;
	margin-right: 60px;
	display: inline-block;
	position: relative
}

.course_list {
	height: 78px;
	line-height: 78px;
	display: inline-block
}

.course_list li {
	width: 90px;
	height: 78px;
	float: left;
	position: relative;
	text-align: center;
	box-sizing: border-box;
	margin-right: 32px
}

.course_list .index {
	margin-right: 2px
}

.course_list .kaochong {
	margin-right: 12px
}

.course_list .cet {
	margin-right: -1px
}

.course_list .ky {
	margin-right: 6px
}

.course_list a {
	color: #493a4f;
	display: inherit;
	transition: all .3s ease
}

.index_click, .kaochong_click, .my_click, .cet_click, .ky_click {
	border-bottom: 4px solid #fec231
}

.index_click a, .kaochong_click a, .my_click a, .cet_click a, .ky_click a
	{
	color: #fec231
}

.my_hover a {
	color: #fec231
}

.cet a:hover, .ky a:hover, .index a:hover, .kaochong a:hover, .my a:hover
	{
	color: #fec231
}

.nav_head_login {
	font-size: 14px;
	color: #493a4f;
	cursor: pointer;
	z-index: 20;
	width: 85px;
	position: absolute;
	top: 0;
	right: -25px;
	display: inline-block;
	height: 100%;
	transition: all .3s ease
}

.not_login {
	line-height: 78px
}

.nav_head_login_box {
	position: relative
}

.nav_head_login a {
	color: #493a4f;
	transition: all 150ms ease
}

.nav_head_login a:hover {
	color: #fec231
}

.has_logged_on a {
	position: relative;
	display: inline-block;
	line-height: 76px;
	height: 76px;
	width: 100%
}

.has_logged_on a span {
	width: 60px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	text-align: right
}

.myc_drop_down_icon {
	position: absolute;
	top: 33px;
	right: 2px
}

.my_hover .myc_drop_down_icon {
	border-top: 1px solid #fec231;
	border-left: 1px solid #fec231
}

.drop_down {
	position: absolute;
	top: 33px;
	right: 11px
}

.hn_xia {
	content: '';
	position: absolute;
	width: 7px;
	height: 7px;
	box-sizing: border-box;
	display: inline-block;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg)
}

.has_logged_on_click {
	height: 78px;
	box-sizing: border-box;
	border-bottom: 4px solid #fec231
}

.has_logged_on_click a, .has_logged_on_hover a.head_user_center {
	color: #fec231
}

.has_logged_on_click .hn_xia, .has_logged_on_hover .hn_xia {
	border-top: 1px solid #fec231;
	border-left: 1px solid #fec231
}

.user_center_slide_down_menu {
	position: absolute;
	top: 100%;
	left: -39px;
	display: none;
	border: 1px solid #e7e7e7;
	box-shadow: 0 1px 1px #eee;
	background-color: #fff;
	padding: 4px 0
}

.user_center_slide_down_menu li {
	width: 138px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	position: relative;
	padding-left: 42px;
	box-sizing: border-box
}

.user_center_slide_down_menu li a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
	padding-left: 38px;
	box-sizing: border-box
}

.user_center_slide_down_menu li span {
	width: 16px;
	height: 17px;
	display: inline-block;
	position: absolute;
	top: 8px;
	left: 14px
}

.usercenter span {
	background: url(././imgs/account/account.png) no-repeat;
	position: relative;
	background-position: -2px -3px
}

.quit span {
	background: url(././imgs/account/account.png) no-repeat;
	position: relative;
	background-position: -26px -1px
}

.change_pwd_btn span {
	background: url(././imgs/account/suo.png) no-repeat;
	position: relative
}

.change_nickname_btn span {
	background: url(././imgs/account/nickname.png) no-repeat;
	position: relative
}

.change_address_btn span {
	background: url(././imgs/account/address.png) no-repeat;
	position: relative
}

.change_setting_btn span {
	background: url(././imgs/ic_head_setting.png) no-repeat;
	position: relative
}

.head_active_course span {
	/* background: url(././imgs/bg_head_active.png) no-repeat; */
	position: relative
}

.mycourse_slide_down_menu {
	background-image:
		url(././imgs/mycourse/ic_spr_headnav_mycourse_menu.png);
	background-repeat: no-repeat;
	background-position: 15px 12px;
	position: absolute;
	top: 100%;
	left: 278px;
	border: 1px solid #e7e7e7;
	background-color: #fff;
	padding: 4px 0;
	box-shadow: 0 0 2px #DADADA
}

.mycourse_slide_down_menu li {
	width: 118px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	position: relative;
	padding-left: 42px;
	box-sizing: border-box
}

.mycourse_slide_down_menu li a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
	padding-left: 43px;
	color: #493a4f;
	box-sizing: border-box;
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease
}

.mycourse_slide_down_menu a:hover {
	color: #fec231
}

.new_lesson_today {
	position: absolute;
	top: 74%;
	left: 262px;
	transform: scale(0);
	transition: all 200ms linear
}

.new_lesson_today.hover {
	transform: scale(1);
	-moz-transition-timing-function: cubic-bezier(0.37, .74, .15, 1.65);
	-o-transition-timing-function: cubic-bezier(0.37, .74, .15, 1.65);
	-webkit-transition-timing-function: cubic-bezier(0.37, .74, .15, 1.65);
	transition-timing-function: cubic-bezier(0.37, .74, .15, 1.65)
}

#foot_bottom {
	width: 100%;
	height: 44px;
	background: #13131f;
	z-index: 1
}

.foot_bottom_con {
	margin: 0 auto;
	display: block;
	line-height: 44px
}

.foot_bottom_con a {
	color: #6e6e7e;
	margin-left: 20px
}

.foot_bottom_con span {
	color: #6e6e7e;
	margin-right: 10px
}

.foot_bottom_con span:last-child {
	margin-right: 0
}

.foot_bottom_con img {
	margin-right: 6px
}

.foot_act {
	height: 12px;
	margin-top: 16px
}

.foot_act a, .foot_act .service {
	border-right: 1px solid #6e6e7e;
	width: 84px;
	display: inline-block;
	height: 100%;
	line-height: 12px;
	position: relative;
	padding-left: 25px;
	box-sizing: border-box;
	margin-left: 10px
}

.foot_act .service {
	padding-left: 22px;
	width: 153px;
	border: 0;
	color: #6e6e7e;
	cursor: default;
	border-right: 1px solid #6e6e7e
}

.foot_act a:first-child {
	margin-left: 0
}

.foot_act a:hover {
	color: #b3b3c7
}

.foot_act a div, .service div {
	width: 15px;
	height: 12px;
	line-height: 12px;
	position: absolute;
	top: 0;
	left: 0
}

a.wechat {
	position: relative
}

a.wechat span {
	z-index: 2;
	color: #6e6e7e
}

a.wechat span:hover {
	color: #b3b3c7
}

.wechat_code {
	position: absolute;
	top: -140px;
	left: -20px;
	height: 130px;
	width: 124px;
	transition: all .3s ease;
	opacity: 0;
	visibility: hidden
}

a.contactus {
	border-right: 0
}

div.qq {
	/* background: url(././imgs/bg_bottom_qq.png) no-repeat */
}

div.weibo {
	/* background: url(././imgs/bg_bottom_wb.png) no-repeat */
}

.hover div.weibo {
	/* background: url(././imgs/bg_bottom_wb_hover.png) no-repeat */
}

div.weixin {
	/* background: url(././imgs/bg_bottom_wx.png) no-repeat */
}

.hover div.weixin {
	/* background: url(././imgs/bg_bottom_wx_hover.png) no-repeat */
}

div.us {
	/* background: url(././imgs/bg_bottom_us.png) no-repeat */
}

.hover div.us {
	/* background: url(././imgs/bg_bottom_us_hover.png) no-repeat */
}

.moblie_top {
	background-color: #13131f;
	height: 44px;
	position: relative;
	text-align: center;
	z-index: 2
}

.back_btn_hd {
	position: absolute;
	top: 0;
	left: 0
}

.back_btn {
	color: #fec231;
	display: inline-block;
	height: 44px;
	text-align: center;
	box-sizing: border-box;
	line-height: 44px;
	position: relative;
	padding: 0 10px 0 26px;
	font-size: 14px;
	z-index: 999999999999999
}

.back_btn::before {
	content: '';
	position: absolute;
	top: 16px;
	left: 13px;
	width: 12px;
	height: 12px;
	box-sizing: border-box;
	display: inline-block;
	border-top: 3px solid #fec231;
	border-left: 3px solid #fec231;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.back_btn.touch {
	background-color: #555
}

.moblie_top_title {
	display: inline-block;
	margin: 0 auto;
	color: #fec231;
	font-size: 18px;
	line-height: 44px
}

.class_notes_con {
	width: 100%;
	text-align: center;
	color: #666
}

.download_link_con {
	height: 726px
}

.file_link {
	padding-bottom: 48px;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #efefef
}

.class_notes_con h1 {
	margin: 48px 0 14px;
	font-size: 28px;
	line-height: 28px;
	font-weight: 400
}

.class_notes_con p {
	font-size: 18px;
	line-height: 18px
}

.class_notes_con .chrome_link {
	margin: 0 auto;
	margin-top: 36px
}

.chrome_link a {
	width: 200px;
	height: 44px;
	background-color: #f5c01d;
	color: #fff;
	text-align: center;
	line-height: 44px;
	border-radius: 25px;
	box-sizing: border-box;
	display: inline-block;
	font-size: 18px;
	position: relative;
	padding-left: 34px
}

.chrome_link a:hover {
	background-color: #dfa404
}

.chrome_link a.left_link {
	margin-right: 72px
}

.chrome_link a span {
	display: inline-block;
	margin-right: 12px;
	position: absolute
}

.chrome_link span.pc_link {
	left: 48px;
	top: 12px;
	width: 19px;
	height: 19px;
	background-image: url(././imgs/mycourse/pc.png);
	background-repeat: no-repeat
}

.chrome_link span.mac_link {
	left: 44px;
	top: 9px;
	width: 18px;
	height: 20px;
	background-image: url(././imgs/mycourse/apple.png);
	background-repeat: no-repeat
}

.chrome_link span.and_link {
	left: 42px;
	top: 10px;
	width: 18px;
	height: 22px;
	background-image: url(././imgs/mycourse/android.png);
	background-repeat: no-repeat
}

.chrome_link span.iphone_link {
	left: 33px;
	width: 18px;
	height: 20px;
	background-image: url(././imgs/mycourse/apple.png);
	background-repeat: no-repeat;
	top: 9px
}

.chrome_link span.listen_link {
	left: 29px;
	width: 22px;
	height: 20px;
	background-image: url(././imgs/mycourse/xia.png);
	background-repeat: no-repeat;
	top: 11px
}

.class_notes_con img {
	margin: 0 auto;
	max-width: 90%;
	display: block
}

.class_notes_con area {
	outline: 0
}

.mo_class_notes_con {
	border-bottom: 12px solid #efeff4;
	background-color: #fff;
	width: 100%;
	text-align: center;
	padding: 24px 0;
	color: #666
}

.mo_class_notes_con h1 {
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	margin-bottom: 10px
}

.mo_class_notes_con p {
	font-size: 10px;
	margin-bottom: 24px;
	line-height: 10px
}

.mo_class_notes_con .mo_file_link {
	width: 100%;
	padding: 0 30px;
	box-sizing: border-box
}

.mo_file_link a {
	width: 125px;
	height: 29px;
	background-color: #f5c01d;
	text-align: center;
	line-height: 29px;
	box-sizing: border-box;
	border-radius: 20px;
	color: #fff;
	position: relative;
	padding-left: 20px
}

.mo_file_link span {
	position: absolute
}

.mo_file_link span.mo_iphone_link {
	width: 14px;
	height: 17px;
	top: 4px;
	left: 15px;
	background-image: url(././imgs/mycourse/apple.png);
	background-repeat: no-repeat;
	background-size: cover
}

.mo_file_link span.mo_and_link {
	width: 15px;
	height: 17px;
	top: 5px;
	left: 21px;
	background-image: url(././imgs/mycourse/android.png);
	background-repeat: no-repeat;
	background-size: cover
}

.mo_file_link span.mo_down_link {
	width: 15px;
	height: 14px;
	top: 6px;
	left: 15px;
	background-image: url(././imgs/mycourse/xia.png);
	background-repeat: no-repeat;
	background-size: cover
}

.cet_top_nav_m {
	background-color: #fff;
	border-bottom: 1px solid #eee
}

.cet_m_container {
	padding: 0 10px
}

.cet_m_logo {
	background-image: url(././././img/kc_logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	line-height: 44px;
	width: 81px;
	height: 44px;
	background-position: 0 9px
}

.cet_m_logo.touch {
	background-color: #eee
}

.cet_m_nav_right {
	float: right
}

.cet_m_book {
	display: inline-block;
	line-height: 44px;
	width: 48px;
	height: 44px;
	margin: 0 7px;
	color: #4b3c56
}

.cet_m_person {
	display: inline-block;
	line-height: 44px;
	width: 48px;
	height: 44px;
	margin: 0 7px;
	color: #4b3c56
}

.public_mirror {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .7;
	z-index: 99
}

.code_pic {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99
}

.code_pic_hd {
	width: 86%;
	height: auto;
	position: relative;
	border-radius: 2px;
	background-color: #fff;
	z-index: 100;
	box_sizing: border-box;
	text-align: center;
	margin: 40px auto 0
}

.code_pic_title {
	color: #000027;
	font-size: 14px;
	line-height: 1.2em;
	line-height: 3.6em
}

.code_pic_main_hd {
	width: 90%;
	margin: 0 auto
}

.code_pic_text_box {
	width: 100%;
	height: 32px;
	outline: 0;
	border: 1px solid #ccc;
	outline: 0
}

.code_pic_btn_hd {
	width: 100%;
	margin: 10px auto
}

.code_pic_wrap {
	position: relative;
	width: 50%;
	line-height: 42px;
	float: left;
	height: 42px
}

.code_pic_img {
	position: absolute;
	width: 124px;
	height: 32px;
	top: 14%;
	left: 0
}

.cantsee_btn {
	float: left;
	width: 50%;
	line-height: 42px
}

.cantsee_btn.touch {
	background-color: #eee
}

.code_pic_ok_btn {
	display: inline-block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	font-size: 18px;
	color: #fff;
	background-color: #feaf22;
	font-weight: 100;
	border-radius: 2px
}

.code_pic_wrong {
	text-align: left;
	color: red;
	padding: 5px 0
}

#countdown_explain {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 110;
	display: none
}

#countdown_explain .explain_vertical {
	display: inline-block;
	height: 100%;
	vertical-align: middle
}

#countdown_explain .explain {
	vertical-align: text-bottom;
	width: 252px;
	border: 1px solid #efeff4;
	display: inline-block;
	background: #fff;
	color: #4b3c56;
	padding: 32px 0;
	border-radius: 10px;
	box-shadow: 0 3px 6px #c8c8c8
}

#countdown_explain .mo_explain {
	padding: 36px 0;
	width: 276px
}

#countdown_explain .explain p {
	line-height: 14px
}

#countdown_explain .explain_login {
	margin-bottom: 10px
}

#countdown_explain .mo_explain_login {
	margin-bottom: 14px
}

#countdown_explain .explain_addr {
	margin-bottom: 16px
}

#countdown_explain .mo_explain_addr {
	margin-bottom: 18px
}

#countdown_explain .explain_count {
	color: #bababa
}

.gototop {
	position: fixed;
	bottom: 63px;
	margin-left: 1006px;
	z-index: 9999
}

.gototop_png {
	position: relative;
	width: 37px;
	height: 38px;
	display: inline-block;
	cursor: pointer;
	background-color: #D8D6D6;
	border-radius: 50%
}

.gototop_png::before {
	content: '';
	position: absolute;
	top: 16px;
	left: 13px;
	width: 12px;
	height: 12px;
	box-sizing: border-box;
	display: inline-block;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}

.gototop_png:hover {
	background-color: #888
}

.mo_course_nav {
	width: 100%;
	box-sizing: border-box;
	background-color: #fff;
	padding: 0 14px
}

.mo_course_nav_box {
	width: 100%;
	box-sizing: border-box
}

.mo_course_nav_fixed {
	position: fixed;
	top: 0;
	left: 0
}

.mo_course_type_list {
	width: 100%;
	height: 36px;
	line-height: 36px;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: hidden
}

.mo_course_type_list li {
	width: 25%;
	height: 100%;
	box-sizing: border-box;
	text-align: center
}

.mo_course_type {
	display: inline-block;
	padding: 0 8px;
	height: 100%;
	box-sizing: border-box;
	color: #4b3c56
}

.mo_course_type_cur {
	border-bottom: 2px solid #72657b;
	font-weight: 700
}

.mo_more_btn {
	width: 15px;
	vertical-align: middle;
	display: inline-block
}

.mo_more_line {
	width: 100%;
	height: 2px;
	background-color: #ffd308;
	margin-bottom: 3px
}

.mo_loading_hd {
	display: inline-block;
	padding: 120px 0
}

.loading {
	float: left;
	margin-right: 5px;
	width: 8px;
	height: 8px;
	background-color: #fec231;
	border-radius: 50%;
	-webkit-animation: loader 600ms infinite alternate;
	-moz-animation: loader 600ms infinite alternate;
	animation: loader 600ms infinite alternate
}

.ii {
	animation-delay: 200ms;
	-moz-animation-delay: 200ms;
	-webkit-animation-delay: 200ms
}

.iii {
	animation-delay: 400ms;
	-moz-animation-delay: 400ms;
	-webkit-animation-delay: 400ms
}

@
-webkit-keyframes loader { 0%{
	opacity: .5;
	transform: scale(1)
}

100%{
opacity
:
1;transform
:scale
(1
.2
)
}
}
@
-moz-keyframes loader { 0%{
	opacity: .5;
	transform: scale(1)
}

100%{
opacity
:
1;transform
:scale
(1
.2
)
}
}
@
keyframes loader { 0%{
	opacity: .5;
	transform: scale(1)
}
100%{
opacity
:
1;transform
:scale
(1
.2
)
}
}